<!-- Joshua Rudaitis -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">         <!--  My CSS sheet -->
    <link rel="stylesheet" href="assets/nasawds-2.0.7/css/nasawds.min.css">   <!-- NASA Web Design System -->
  </head>
  <body ng-app="directoryApp" ng-controller="ListingsController">

<!--       <div id="topBar">

        
          <div class="usa-grid">
            <div class="usa-width-one-half | search">
              <div role="search">
                <form class="usa-search usa-search-big">
                  <input id="search-field-big" type="search" name="search" ng-model="query">
                  <button type="submit" ng-click="search()">
                    <span class="usa-search-submit-text">Search</span>
                  </button>
                </form>
              </div>
            </div>

            <div class="usa-width-one-half">

              <em class="usa-logo-text" align="right">
              <p class="title"> NASA Image Library </p>
              <a href="./index.html" title="Home" aria-label="Home">
                <img src="nasa.png" class="logo"/>
              </a>
            </em>

             </div>
          </div>

          </div> -->






            <!--   <span> 
                <img src="nasa.png" align="right" class="logo"/> <p align="right" class="title"> NASA Image Directory </p>
              </span> -->
           

          <!-- <div class="usa-logo" id="basic-logo">
            <em class="usa-logo-text">
              <a href="javascript:void(0)"
                title="Home"
                aria-label="Home">
                Department of Web Design
              </a>
            </em>
          </div> -->

          

      <header class="usa-header usa-header-basic topBar noGreyBar" role="banner">
            <div class="usa-nav-container">
              <div class="usa-navbar">

            <div class="usa-logo" id="basic-logo">
              <em class="usa-logo-text">
                <a href="javascript:void(0)"
                  title="Home"
                  aria-label="Home">
                  NASA Media Library
                </a>
              </em>
            </div>
            <button class="usa-menu-btn">Filters</button>
          </div>

          <nav role="navigation" class="usa-nav" style="background-color: #323a45">

              <button class="usa-nav-close">
                <span style="color: red;" class="glyphicon glyphicon-remove"></span>
              </button>

              <ul class="usa-nav-primary usa-accordion"><li>

                  <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="basic-nav-section-one">
                    <span><p class="title">Date</p></span>
                  </button>

                  <ul id="basic-nav-section-one" class="usa-nav-submenu" style="padding: 15px"><li>
                    <form>
                      <p class="title">Start Year:</p>
                      <input type="number" min="1920" max="2099" step="1" value="2019" ng-model="startDate"/>
                      <p class="title">End Year:</p>
                      <input type="number" min="1920" max="2099" step="1" value="2019" ng-model="endDate"/>
                    </form>
                  </ul></li><li>

                  <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="basic-nav-section-two">
                    <span><p class="title">Media</p></span>
                  </button>

                  <ul id="basic-nav-section-two" class="usa-nav-submenu" style="padding: 15px"><li>
                          
                          <fieldset class="usa-fieldset-inputs usa-sans">
                          <legend class="usa-sr-only">Media Type</legend>
                          <ul class="usa-unstyled-list">
                            <li>
                              <input id="images" type="checkbox" name="mediaType" value="image" checked ng-model="isImage">
                              <label for="images"><p class="title">Images</p></label>
                            </li>
                            <li>
                              <input id="videos" type="checkbox" name="mediaType" value="video" checked ng-model="isVideo">
                              <label for="videos"><p class="title">Video</p></label>
                            </li>
                            <li>
                              <input id="audio" type="checkbox" name="mediaType" value="audio" checked ng-model="isAudio">
                              <label for="audio"><p class="title">Audio</p></label>
                            </li>
                          </ul>
                        </fieldset>

                        </ul></li><li>
                    
                  <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="basic-nav-section-three">
                    <span><p class="title">Location</p></span>
                  </button>
                  
                  <ul id="basic-nav-section-three" class="usa-nav-submenu" style="padding: 15px"><li>
                            
                              <form>
                                <label for="input-type-text"><p class="filter">Location</p></label>
                                <input id="input-type-text" name="input-type-text" type="text" ng-model="location">
                              </form>

                            </ul></li><li><a class="usa-nav-link" href="javascript:void(0)">
                  </a></li></ul>


              <form class="usa-search usa-search-small" style="padding-top: 15px">
               <div role="search">
                  <form class="usa-search usa-search-small">
                    <input id="search-field-big" type="search" name="search" ng-model="query">
                    <button type="submit" ng-click="search()" class="search">
                      <span class="usa-search-submit-text"></span>
                    </button>
                  </form>
                </div> 
              </form>
                




<!-- 
            <button class="usa-nav-close">
              <img src="/nasawds-site/assets/img/close.svg" alt="close">
            </button>

            <span>Filter By</span>
              <ul class="usa-nav-primary usa-accordion"><li>

                <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="basic-nav-section-one">
                  <span>Date</span>
                </button>

                <ul id="basic-nav-section-one" class="usa-nav-submenu"><li>

                  <form action="/action_page.php">
                    Start Year:
                    <input type="number" min="1920" max="2099" step="1" value="2019" ng-model="startDate"/>
                    End Year:
                    <input type="number" min="1920" max="2099" step="1" value="2019" ng-model="endDate"/>
                  </form>
                </li></ul></li>

                <li><button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="basic-nav-section-two">

                  <span>Media Type</span>
                </button>
                <ul id="basic-nav-section-two" class="usa-nav-submenu"><li>
                        <fieldset class="usa-fieldset-inputs usa-sans">
                          <legend class="usa-sr-only">Media Type</legend>
                          <ul class="usa-unstyled-list">
                            <li>
                              <input id="images" type="checkbox" name="mediaType" value="image" checked ng-model="isImage">
                              <label for="images">Images</label>
                            </li>
                            <li>
                              <input id="videos" type="checkbox" name="mediaType" value="video" checked ng-model="isVideo">
                              <label for="videos">Videos</label>
                            </li>
                            <li>
                              <input id="audio" type="checkbox" name="mediaType" value="audio" checked ng-model="isAudio">
                              <label for="audio">Audio</label>
                            </li>
                          </ul>
                        </fieldset>
                        </li></ul></li><li>

                <ul class="usa-nav-primary usa-accordion"><li>

                <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="basic-nav-section-three">
                  <span>Location</span>
                </button>
                <ul id="basic-nav-section-three" class="usa-nav-submenu"><li>

                  <form>
                    <label for="input-type-text"><p class="filter">Location</p></label>
                    <input id="input-type-text" name="input-type-text" type="text" ng-model="location">
                  </form>

                </li></ul></li>

                <div role="search">
                  <form class="usa-search usa-search-big">
                    <input id="search-field-big" type="search" name="search" ng-model="query">
                    <button type="submit" ng-click="search()">
                      <span class="usa-search-submit-text">Search</span>
                    </button>
                  </form>
                </div> 

 -->
             
                
              </nav>
            </div>
          </header>
        <div class="usa-overlay"></div>
        <main id="main-content"></main>

      <br>

      <div class="usa-grid">

        <div class="usa-width-one-whole">
          <div class="usa-width-one-third buttonRightLayout">
            <button class="usa-button-secondary-inverse" ng-click="getPrev()">Prev</button>
          </div>
          <div class="usa-width-one-third resultCenterLayout"> <p class="filter"> Results {{(curPage*100) + 1}} - {{curEndRange}} of {{hits}} </p> </div>
          <div class="usa-width-one-third buttonLeftLayout">
            <button class="usa-button-secondary-inverse" ng-click="getNext()">Next</button>
          </div>
        </div>
      </div>

      <div class="usa-grid">

        <div class="row">

            <div class="grid">
              <div class="grid-sizer"></div>
                <div ng-repeat="listing in listings">

                  <div class="card grid-item" data-toggle="modal" data-target="#dataPopup{{$index}}">
                    <img class="imgCard" src="{{listing.links[0].href}}" style="width:100%">
                    <div class="card-container">
                      <p class="ovf"><b>{{listing.data[0].title}}</b></p> 
                      <p class="ovf">{{listing.data[0].nasa_id}}</p> 
                    </div>
                  </div>

                  <div class="modal fade in" id="dataPopup{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                   <p id="myModalLabel" class="modal-title popup">{{listing.data[0].title}}</p>

                              </div>
                              <div class="modal-body">
                                <img src="{{listing.links[0].href}}" class="imgCurve">
                                <p class="popup"><b>Date:         </b>{{listing.data[0].date_created}}</p> 
                                <p class="popup"><b>Center:       </b>{{listing.data[0].center}}</p> 
                                <p class="popup"><b>Photographer: </b>{{listing.data[0].photographer}}</p> 
                                <p class="popup"><b>Location:     </b>{{listing.data[0].location}}</p> 
                                <p class="popup"><b>Media Type:   </b>{{listing.data[0].media_type}}</p> 
                                <p class="popup"><b>NASA ID:      </b>{{listing.data[0].nasa_id}}</p> 
                                <p class="popup"><b>Photographer: </b>{{listing.data[0].photographer}}</p> 
                                <p class="popup"><b>Description:  </b>{{listing.data[0].description}}</p> 
                                <p class="popup"><b>Keywords:     </b></p> 
                                  <div ng-repeat="keyword in listing.data[0].keywords">
                                      <span class="usa-label ">{{keyword}}</span>
                                  </div>
                              </div>

                              <div class="modal-footer">
                                  
                                  <a>
                                    <button type="button" class="btn btn-primary" ng-click="getFile(listing.data[0].media_type,listing.href)">View Raw</button>
                                  </a>

                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>

                              </div>
                          </div>
                      </div>
                  </div>

                </div>
            </div>
          </div>
        </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
    <script src="assets/nasawds-2.0.7/js/nasawds.min.js"></script> <!-- NASA Web Design System -->
  </body>
</html>