#searchBar {
  margin: 15px 10px;
}

#topBar{
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:110px;
   background-color:#323a45;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   z-index: 999;
}

.logo {
  padding-right: 50px;
  padding-top: 10px;
  padding-left: 10px;
  z-index: 999;
}

.tableWrapper {
  max-height: auto;
  overflow: auto;
}

.title {
	color: white;
	font-size: 25px;
	font-family: "Helvetica", "Sans Serif", sans-serif;
  padding-top: 10px;
  z-index: 999;
}

.search {
  padding-top: 30px;
/*  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: auto;
  background: #f1f1f1;*/
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: #323a45;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.97);
}

.card-container {
  padding: 2px 16px;
}

p.ovf {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  color: #aeb0b5;
}

.container {
  padding: 2px 16px;
}

.transparent {
	background-color: rgba(238,238,238,0.4);
}

.lessTransparent {
	background-color: rgba(238,238,238,0.7);
}

/*div {
  height: auto; 
  width: 1000px;
  margin: 0 auto; 
}*/

img {
    border-radius: 5px 5px 0 0;
}

body {
  background-image: linear-gradient(to bottom right, rgba(38,40,48,1), rgba(38,40,48,1)), url(texture.png);
  background-position: center; 
  font-family: Helvetica, Arial, sans-serif;
}

button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  transition-duration: 0.4s;
}

.add {
  padding: 15px 32px;
  background-color: rgba(255,255,255,0.4);
  color: green;
  border: 2px solid green;
}

.add:hover {
  padding: 15px 32px;
  background-color: green;
  color: white;
  border: 2px solid green;
}

.delete {
  background-color: rgba(255,255,255,0.4);
  color: red;
  border-radius: 50%;
  border: 2px solid red;
}

.delete:hover {
  background-color: red;
  color: white;
  border-radius: 50%;
  border: 2px solid red;
}

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

/* ---- isotope ---- */

.grid {
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer {
  margin-bottom: 50px;
}

.grid-item {
  width: 30%;
  height: 350px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-item {
  float: left;
  border: 10px;
}

.grid-item img {
  display: block;
  max-width: 100%;
  height: 200px;
}
