


/* ---- GENERAL ---- */


/*div {
  height: auto; 
  width: 1000px;
  margin: 0 auto; 
}*/


@media screen and (max-width:810px) {  
  img.logo {
    display: none;
  }
}

img.imgCard {
  border-radius: 5px 5px 0 0;
}

img.imgCurve {
  border-radius: 5px 5px 5px 5px;
  height: 300px;
  width: 100%;
}

img.logo {
  padding-right: 0px;
  padding-top: 10px;
  padding-left: 10px;
  z-index: 999;
}

p.ovf {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  color: #aeb0b5;
}

p.popup {
  color: #aeb0b5;
}

p.filter {
  color: white;
}

p.title {
  color: white;
  font-size: 15px;
  font-family: "Helvetica", "Sans Serif", sans-serif;
  z-index: 999;
  display: inline-block;
  vertical-align: middle;
}

body {
  background-image: linear-gradient(to bottom right, rgba(38,40,48,1), rgba(38,40,48,1)), url(texture.png);
  background-position: center; 
  font-family: Helvetica, Arial, sans-serif;
}

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }










/* ---- TOP OF PAGE ---- */

#searchBar {
  margin: 15px 10px;
}

.topBar{
   background-color:#323a45;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.bar {
  background-color: #323a45;
}

.tableWrapper {
  max-height: auto;
  overflow: auto;
}

.search {
  background-color: blue;
}

.buttonRightLayout {
  text-align: right;
}

.buttonLeftLayout {
  text-align: left;
}

.resultCenterLayout {
  text-align: center;
}

.noGreyBar {
    border: 0px !important;
    border-bottom-color: transparent !important;
    border-top-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
    border-top: none !important;
}








/* ---- MIDDLE OF PAGE ---- */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: #323a45;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.97);
}

.card-container {
  padding: 2px 16px;
}

.container {
  padding: 2px 16px;
}




usa-nav-container.custom::after {

  color: black;
  background-color: black;
}



/* ---- GRID ---- */

.grid {

  margin-left: 1%;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer {
  margin-bottom: 50px;
}

.grid-item {
  width: 30%;
  height: 325px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  border: 10px;
}

.grid-item img {
  display: block;
  max-width: 100%;
  height: 200px;
}





/* ---- MODAL ---- */

.modal-content {
  background-color: #323a45;
  margin: auto;
  padding: 25px;
  width: 100%;
  height: 100%;
}

.modal-backdrop {
    z-index: 100000 !important; /* keeps modal above nav bar */
}

.modal {
    z-index: 100001 !important; /* keeps modal above nav bar */
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


